
/* variables -------------------------------------------------------------- */

:root {

	--x-input-padding               : .25em .5em; /* padding for inputs and grid cells */
	--x-input-padding-x             : .5em;  /* x-padding for inputs and grid cells */

	--x-input-il-padding            : 1em .5em;
	--x-input-il-padding-value      : 1.6em .5em .4em .5em;
	--x-input-il-padding-top-label  : .2em;
	--x-input-il-padding-top-label-animation-start : .6em;

	--x-inverted-fg-color           : white; /* fg color for inverted backgrounds */

	--x-input-focused-bg-color      : #fff;  /* bg color for focused inputs, dropdowns and pickers */
	--x-modified-bg-color           : #ddffdd;
	--x-new-bg-color                : #eeeeff;
	--x-info-bg-color               : #069;  /* bg color for info bubbles */
	--x-error-bg-color              : #a33;  /* bg color for invalid inputs and error bubbles */

	--x-focus-shadow                : 0 0 0 1px #99f; /* to be used in place of focus outline */
	--x-item-unfocused-bg-color     : #333;
	--x-item-focused-bg-color       : #47a;
	--x-item-focused-invalid-bg-color : #f33;
	--x-row-focused-bg-color        : #f0f0f0;
	--x-item-hover-bg-color         : #00000011;
	--x-item-bg-only-bg-color       : #eee;  /* slider background */
	--x-item-bg-only-hover-bg-color : #ddd;  /* slider background */
	--x-input-width                 : 12em;
	--x-spin-input-width            : 12em;
}

/* defaults --------------------------------------------------------------- */

.x-widget, .x-widget * {
	box-sizing: border-box;
}

.x-widget {
	font-size: 13px;
	font-family: x-widget, sans-serif;
}

.x-widget:focus {
	/* standardize focus outline appearance between browsers and element types */
	outline: none;
	box-shadow: var(--x-focus-shadow);
}

.x-focusable:focus {
	/* focusables show focus through their focused x-item */
	outline: none;
	box-shadow: none;
}

/* item states ------------------------------------------------------------ */

.x-item.disabled { color: #999; }
.x-item.disabled.focused { color: #ccc; }
.x-item.null     { color: #999; }
.x-item.removed  { text-decoration: line-through; }

.x-item.invalid {
	background-color: var(--x-error-bg-color);
	color: var(--x-inverted-fg-color);
}

.x-item:not(.focused):not(:hover):not(.invalid).new {
	background-color: var(--x-new-bg-color);
}

.x-item:not(.focused):not(:hover):not(.invalid).modified {
	background-color: var(--x-modified-bg-color);
}

.x-item:not(.invalid):not(.focused):hover {
	background-color: var(--x-item-hover-bg-color);
}

.x-item.row-focused:not(.invalid) {
	background-color: var(--x-row-focused-bg-color);
}

.x-item.focused:not(.invalid) {
	background-color: var(--x-item-unfocused-bg-color);
	color: var(--x-inverted-fg-color);
}

.x-focusable:focus-within .x-item.focused:not(.invalid) {
	background-color: var(--x-item-focused-bg-color);
}

.x-focusable:focus-within .x-item.focused.invalid {
	background-color: var(--x-item-focused-invalid-bg-color);
}

/* scrollbars ------------------------------------------------------------- */

.x-widget::-webkit-scrollbar-track,
.x-widget ::-webkit-scrollbar-track  { background-color: #eee; }
.x-widget::-webkit-scrollbar-thumb,
.x-widget ::-webkit-scrollbar-thumb  { background-color: #c0c0c0; border-color: #eee; }
.x-widget::-webkit-scrollbar-corner,
.x-widget ::-webkit-scrollbar-corner { background-color: #eee; }
.x-widget                            { scrollbar-color: #c0c0c0 #eee; }

/* border-based triangle shapes ------------------------------------------- */

.x-arrow {
	border-width: .5em;
	border-style: solid;
}

.x-arrow[side=top], .x-arrow[side=top]:hover {
	border-right-color : transparent;
	border-left-color  : transparent;
	border-bottom-color: transparent;
	margin-left: -.5em;
}

.x-arrow[side=bottom], .x-arrow[side=bottom]:hover {
	border-right-color : transparent;
	border-left-color  : transparent;
	border-top-color   : transparent;
	margin-left: -.5em;
}

.x-arrow[side=left], .x-arrow[side=left]:hover {
	border-right-color : transparent;
	border-top-color   : transparent;
	border-bottom-color: transparent;
	margin-top: -.5em;
}

.x-arrow[side=right], .x-arrow[side=right]:hover {
	border-left-color  : transparent;
	border-top-color   : transparent;
	border-bottom-color: transparent;
	margin-top: -.5em;
}

/* button ----------------------------------------------------------------- */

.x-button {

	/* positioning for inline use */
	display: inline-flex;    /* more options than inline, but no collapsible margins! */

	/* content layout */
	align-items: baseline;   /* required */
	justify-content: center;
	position: relative;      /* anchor stuff to the button */

	/* sizing for inline use */
	padding: var(--x-input-padding);
	margin: .25em;
	border: 1px solid rgba(27,31,35,.2);
	border-radius: .25em;
	font-weight: bold;
	line-height: normal;

	/* behavior */
	cursor: pointer;
	user-select: none;
}

.x-button-icon {
	margin-right: .25em;
}

.x-button-text {
}

/* styling (from github) */

.x-button {
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
	background-position: -1px -1px;
	background-size: 110% 110%;
}

.x-button:hover {
	border-color: rgba(27,31,35,.35);
	background-color: #e6ebf1;
	background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
	text-decoration: none;
}

.x-button:active, .x-button.active {
	outline: none;
	border-color: rgba(27,31,35,.35);
	background-color: #e9ecef;
	background-image: none;
	box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}

.x-button.primary {
	color: white;
	border: 1px solid rgba(27,31,35,.2);
	background-color: #28a745;
	background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
}

.x-button.primary:hover {
	border-color: rgba(27,31,35,.5);
	background-color: #269f42;
	background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
}

.x-button.primary:active, .x-button.primary.active {
	outline: none;
	border-color: rgba(27,31,35,.5);
	background-color: #279f43;
	background-image: none;
	box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}

/* action band ------------------------------------------------------------ */

.x-action-band {
	display: flex;
	justify-content: flex-end;
}

/* tooltip ---------------------------------------------------------------- */

.x-tooltip {

	/* content layout */
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	overflow: visible; /* for the tip */
	pointer-events: none;

	/* positioning */
	position: absolute;
	z-index: 1;

	/* sizing */
	max-width: 400px;                 /* max. width of the message bubble before wrapping */

	/* animation */
	opacity: 0;

	animation-duration: .2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

/* visibility animation */

.x-tooltip.visible {
	opacity: 1;
}

@keyframes x-tooltip-left   { from { opacity: 0; transform: translate(-1em, 0); } }
@keyframes x-tooltip-right  { from { opacity: 0; transform: translate( 1em, 0); } }
@keyframes x-tooltip-top    { from { opacity: 0; transform: translate(0, -.5em); } }
@keyframes x-tooltip-bottom { from { opacity: 0; transform: translate(0,  .5em); } }

.x-tooltip.visible[side=left]   { animation-name: x-tooltip-left; }
.x-tooltip.visible[side=right]  { animation-name: x-tooltip-right; }
.x-tooltip.visible[side=top]    { animation-name: x-tooltip-top; }
.x-tooltip.visible[side=bottom] { animation-name: x-tooltip-bottom; }

.x-tooltip-text {

	/* layouting */
	display: inline-block;        /* shrink-wrap and also word-wrap when reaching container width */

	/* sizing */
	padding: .5em 1em;

	/* styling */
	border-radius: .25em;
	background-color: white;

	box-shadow: 2px 2px 10px #00000044;
}

.x-tooltip-tip {

	/* border-based triangle shape */
	display: block;
	box-sizing: content-box;
	border-width: .5em;
	border-color: transparent;
	border-style: solid;
	z-index: 1; /* draw over the parent's box shadow */

	/* styling */
	color: white;
}

.x-tooltip[side=left]   > .x-tooltip-tip { border-left-color   : inherit; }
.x-tooltip[side=right]  > .x-tooltip-tip { border-right-color  : inherit; }
.x-tooltip[side=top]    > .x-tooltip-tip { border-top-color    : inherit; }
.x-tooltip[side=bottom] > .x-tooltip-tip { border-bottom-color : inherit; }

/* side & align combinations */

.x-tooltip[side=top],
.x-tooltip[side=bottom]  { flex-flow: column; }

.x-tooltip[side=left]    { justify-content: flex-end; }

.x-tooltip[align=end]    { align-items: flex-end; }
.x-tooltip[align=center] { align-items: center; }

.x-tooltip[side=right]  > .x-tooltip-text,
.x-tooltip[side=bottom] > .x-tooltip-text { order: 2; }

.x-tooltip[side=top][align=center] > .x-tooltip-text,
.x-tooltip[side=bottom][align=center] > .x-tooltip-text { text-align: center; }

.x-tooltip[side=top][align=end] > .x-tooltip-text,
.x-tooltip[side=bottom][align=end] > .x-tooltip-text { text-align: right; }

.x-tooltip[side=top] > .x-tooltip-tip,
.x-tooltip[side=bottom] > .x-tooltip-tip { margin: 0 .5em; }

.x-tooltip[side=left] > .x-tooltip-tip,
.x-tooltip[side=right] > .x-tooltip-tip { margin: .5em 0; }

.x-tooltip[side=right]  { margin-left   : -.25em; }
.x-tooltip[side=left]   { margin-left   :  .25em; }
.x-tooltip[side=top]    { margin-top    :  .25em; }
.x-tooltip[side=bottom] { margin-top    : -.25em; }

/* styling based on type attr */

.x-tooltip[type=info] > .x-tooltip-text { background-color: var(--x-info-bg-color); color: var(--x-inverted-fg-color); }
.x-tooltip[type=info] > .x-tooltip-tip  { color: var(--x-info-bg-color); }

.x-tooltip[type=error] > .x-tooltip-text { background-color: var(--x-error-bg-color); color: var(--x-inverted-fg-color); }
.x-tooltip[type=error] > .x-tooltip-tip  { color: var(--x-error-bg-color); }

/* checkbox & radiogroup = markbox ---------------------------------------- */

.x-markbox {

	/* layouting of self & children */
	display: inline-flex;

	/* layouting of children */
	align-items: baseline;
	flex-flow: row nowrap;

	/* sizing for inline use */
	margin: .25em;
	padding: .5em;

	cursor: default;
}

.x-markbox-icon {
	color: #333;
}

.x-markbox:focus {
	box-shadow: none;
	outline: 1px dashed #aaf;
}

.x-markbox > .x-markbox-icon {
	color: var(--x-item-focused-bg-color);
}

.x-markbox.invalid > .x-markbox-icon {
	color: var(--x-error-bg-color);
}

.x-markbox[align=right] > .x-markbox-icon {
	order: 2;
}
.x-markbox[align=right] > .x-markbox-text {
	text-align: right;
}

.x-markbox.center {
	justify-content: center;
}

.x-markbox[align=left]  > .x-markbox-text:not(:empty) { padding-left : .5em; }
.x-markbox[align=right] > .x-markbox-text:not(:empty) { padding-right: .5em; }

/* radiogroup ------------------------------------------------------------- */

.x-radiogroup {
	display: inline-flex;
	flex-flow: column wrap;
	margin: .25em;
	padding: 0;
}

.x-radio-item {
	margin: 0;
	padding: .25em .5em;
}

.x-radio-item:focus > .x-radio-icon {
	color: #333;
}

.x-radiogroup.invalid > .x-markbox,
.x-radiogroup.invalid > .x-markbox > .x-radio-icon {
	color: var(--x-error-bg-color);
}

.x-radiogroup[align=right] > .x-markbox {
	justify-content: flex-end;
}

/* input ------------------------------------------------------------------ */

.x-input {
	/* layouting */
	display: inline-flex;    /* the only way to get variable-width inputs */
	align-items: baseline;   /* ...that are baseline-aligned */
	position: relative;      /* anchor the inner label to it */

	/* sizing */
	width: var(--x-input-width);

	/* sizing for inline use */
	margin: .25em;
	padding: 0;              /* required: set from code */
	border-width: 1px;
	border-radius: .2em;

	/* styling */
	border-color: #ccc;
	border-style: solid;
}

.x-input-value {
	/* defaults */
	margin: 0;
	border: 0;
	padding: var(--x-input-padding);
	font-size: inherit;
	font-family: inherit;
	height: 100%;            /* stretch vertically */
	width: 100%;             /* stretch horizontally */
	color: inherit;
	background: none;
	text-align: left;
}

.x-input-value:focus {
	outline: none;
}

.x-input[align=right] .x-input-value {
	text-align: right;
}

.x-input[mode=inline] {
	border: 0;
	border-radius: 0;
}

.x-input[mode=inline] {
	border-bottom: 1px dashed black;
}

.x-input[mode=inline] > .x-input-value {
	padding-bottom: .1em;
}

.x-input[mode=inline]:focus-within {
	box-shadow: none;
}

.x-input.modified {
	/* background-color: var(--x-modified-bg-color); */
}

/* input with animated inner label/placeholder ---------------------------- */

.x-input.with-inner-label {
	border-radius: .3em;
	line-height: initial;  /* prevent inheriting it */
}

.x-input.with-inner-label[mode=inline] {
	border-radius: 0;
}

.x-input.with-inner-label > .x-input-value {
	padding: var(--x-input-il-padding);
}

.x-input-inner-label {
	vertical-align: top;
	align-self: flex-start;
	position: absolute;
	padding: var(--x-input-il-padding);
	pointer-events: none;       /* click-through */
	color: #777;
	white-space: nowrap;
	visibility: hidden;
}

.x-input:not(.with-inner-label) > .x-input-inner-label {
	display: none;
}

.x-input.with-inner-label > .x-input-inner-label {
	visibility: visible;
}

.x-input.with-inner-label > .x-input-value:not(.empty) {
	top: 0; /* fixate to top so we only have to set the top padding */
	padding: var(--x-input-il-padding-value);
}

.x-input[mode=inline].with-inner-label > .x-input-value:not(.empty) {
	padding-bottom: .1em;
}

.x-input.with-inner-label > .x-input-inner-label:not(.empty) {
	top: 0; /* fixate to top so we only have to set the top padding */
	user-select: none;
	color: inherit;
	font-size: 85%;
	padding-top: var(--x-input-il-padding-top-label);
	animation: x-input-inner-label-focused .2s;
}

.x-input[mode=inline].with-inner-label > .x-input-inner-label:not(.empty) {
	font-weight: bold;
	opacity: .5;
}

@keyframes x-input-inner-label-focused {
	from {
		opacity: 0;
		padding-top: var(--x-input-il-padding-top-label-animation-start);
	}
}

/* spin_input ------------------------------------------------------------- */

.x-spin-input {
	width: var(--x-spin-input-width);
}

.x-spin-input-button {
	border-style: solid;
	border-color: #999;
	border-width: 0;
	padding-left : var(--x-input-padding-x);
	padding-right: var(--x-input-padding-x);
}

.x-spin-input-button.left  { border-right-width: 1px; }
.x-spin-input-button.right { border-left-width : 1px; }

.x-spin-input-button.fa-plus,
.x-spin-input-button.fa-minus {
	font-size: 70%;
	align-self: center;
}
.x-spin-input-button.fa-minus.leftmost { padding-left  : calc(1.428 * var(--x-input-padding-x)); }
.x-spin-input-button.fa-plus.rightmost { padding-right : calc(1.428 * var(--x-input-padding-x)); }

.x-spin-input-button.fa-caret-left  { padding-right : calc(.5 * var(--x-input-padding-x)); }
.x-spin-input-button.fa-caret-right { padding-left  : calc(.5 * var(--x-input-padding-x)); }

/* inner label adjustments */

.x-spin-input[button-placement=left]      > .x-input-inner-label.empty,
.x-spin-input[button-placement=each-side] > .x-input-inner-label.empty {
	padding-left: 2em;
}

.x-spin-input[button-style=left-right][button-placement=left]      > .x-input-inner-label.empty,
.x-spin-input[button-style=left-right][button-placement=each-side] > .x-input-inner-label.empty {
	padding-left: 1.5em;
}

.x-spin-input.with-inner-label > .x-spin-input-button.fa-plus,
.x-spin-input.with-inner-label > .x-spin-input-button.fa-minus {
	align-self: baseline;
}

/* slider ----------------------------------------------------------------- */

.x-slider {
	/* inline layouting */
	display: inline-block;
	vertical-align: middle;
	margin: .75em;

	/* sizing */
	width: var(--x-input-width);
	height: 7px;

	/* styling */
	background: var(--x-item-bg-only-bg-color);
	border-radius: 10em;

	/* layouting content */
	position: relative;           /* anchor slider */
	overflow: visible;
}

.x-slider-fill {
	position: absolute;
	height: 100%;
	background-color: var(--x-item-unfocused-bg-color);
	border-radius: 10em;
}

.x-slider-range-fill {
	background-color: #ccc;
}

.x-slider-thumb {

	/* center vertically to track */
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-55%);

	/* sizing */
	width: 1em;
	height: 1em;

	/* styling */
	background-color: #eee;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 2px #000000aa;

	border-radius: 10em;

}

.x-slider-value-thumb.different {
	opacity: .5;
}

.x-slider:focus {
	box-shadow: none;
}

.x-slider:focus > .x-slider-value-fill {
	background-color: var(--x-item-focused-bg-color);
}

.x-slider:focus > .x-slider-thumb {
	border: 1px solid var(--x-item-focused-bg-color);
	background-color: #eee;
}

.x-slider.invalid > .x-slider-input-thumb {
	border: 1px solid var(--x-error-bg-color);
	background-color: var(--x-error-bg-color);
}

.x-slider.invalid:focus > .x-slider-thumb {
	border: 1px solid #ddd;
}

.x-slider.animated > .x-slider-thumb      { transition: left  .1s; }
.x-slider.animated > .x-slider-value-fill { transition: width .1s; }

/* dropdown --------------------------------------------------------------- */

/* NOTE: .x-input is applied too on dropdowns so consider this a class extension! */

.x-dropdown {

	/* content layouting */
	align-items: center;
	line-height: initial;       /* prevent y-stretching to surrounding text's line height */

	/* styling */
	cursor: default;

	/* default mode: variable-width, no-wrap but with .x-input's min-width applied */
	width: auto;                /* shrink-wrap */
	min-width: var(--x-input-width);
	white-space: nowrap;
}

.x-dropdown-value {

	/* self positioning & alignment */
	flex: 1;                 /* stretch horizontally */
	width: auto;
	padding: var(--x-input-padding);
	padding-right : .25em;
	padding-left  : var(--x-input-padding-x);

	/* content layouting */
	display: flex;
	align-items: center;
}

.x-dropdown-value.null { color: #999; }

.x-dropdown-button {
	padding-left : var(--x-input-padding-x);
	padding-right: var(--x-input-padding-x);

	border-left-style: inherit;
	border-left-color: inherit;
	border-left-width: 1px;
}

.x-dropdown[align=right] > .x-dropdown-value {
	order: 2;
	padding-left  : .25em;
	padding-right : var(--x-input-padding-x);

	justify-content: flex-end;
}

/* inline mode: variable-width, no-wrap with no min-width */
.x-dropdown[mode=inline] {
	min-width: 0;            /* reset from x-input's min-width */
	align-items: baseline;
}

/* wrap mode: fixed-width, auto-wrap */
.x-dropdown[mode=wrap] {
	width: 0;                /* fixed width, constrained by x-input's min-width */
}
.x-dropdown[mode=wrap] > .x-dropdown-value {
	white-space: normal;
}

/* fixed mode: fixed-width, no-wrap, hide-overflow */
.x-dropdown[mode=fixed] {
	width: 0;                /* fixed width, constrained by x-input's min-width */
}
.x-dropdown[mode=fixed] > .x-dropdown-value {
	white-space: nowrap;
	overflow: hidden;
}

/* override with more specificity: .x-widget.x-<foo>.picker */
.x-widget.picker {
	margin: 0;
	position: absolute;
	border: 1px solid #999;
	background-color: var(--x-input-focused-bg-color);
	box-shadow: 2px 2px 2px #000000aa;
	z-index: 1;
}

/* input & dropdown common styles ----------------------------------------- */

.x-input:focus-within,
.x-dropdown.open
{
	outline: none;
	background-color: var(--x-input-focused-bg-color);
	box-shadow: var(--x-focus-shadow);
}
.x-dropdown[mode=inline]:focus,
.x-dropdown[mode=inline].open {
	box-shadow: none;
}

.x-input.invalid {
	background-color: var(--x-error-bg-color);
	color: var(--x-inverted-fg-color);
}

/* listbox ---------------------------------------------------------------- */

.x-listbox {

	/* layout */
	display: inline-flex;        /* the only way for it to shrink-wrap */
	flex-flow: column nowrap;
	margin: .25em;

}

.x-listbox[flow=horizontal] {
	flex-direction: row;
}

.x-listbox-item {

	/* sizing */
	padding: var(--x-input-padding);

	/* behavior */
	cursor: default;

}

.x-widget.x-listbox.picker {
	max-height: 300px;
	overflow: auto;
}

/* select-button ---------------------------------------------------------- */

.x-select-button > .x-item {
	margin: 0;

	/* geometry */
	border-radius: 0;
	border: 1px solid rgba(27,31,35,.2);

	/* styling */
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);

	/* behavior */
	user-select: none;
}

.x-select-button > .x-item:hover {
	background-color: #e6ebf1;
	background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
	text-decoration: none;
}

.x-select-button > .x-item:active, .x-select-button > .x-item.active {
	outline: none;
	background-color: #e9ecef;
	background-image: none;
	box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}

.x-select-button > .x-item.focused.selected {
	background-color: var(--x-item-focused-bg-color);
	background-image: none;
}

.x-select-button > .x-item:first-child {
	border-top-left-radius    : .25em;
	border-bottom-left-radius : .25em;
}

.x-select-button > .x-item:last-child {
	border-top-right-radius    : .25em;
	border-bottom-right-radius : .25em;
}

.x-select-button > .x-item:not(:first-child) {
	border-left: 0;
}

/* calendar --------------------------------------------------------------- */

.x-calendar {
	display: inline-block;
	padding: 1em;
}

.x-calendar-weekday {
	color: #999;
	font-weight: normal;
}

.x-calendar:focus {
	outline: none;
}

.x-calendar:focus .x-calendar-day.focused {
	box-shadow: var(--x-focus-shadow);
}

.x-calendar-day,
.x-calendar-weekday {
	text-align: right;
}
.x-calendar-day {
	padding: .4em;
	padding-left : .6em;
	padding-right: .6em;
}
.x-calendar-weekday {
	padding: .4em 0;
}

.x-calendar-day                          { cursor: default; }
.x-calendar-day:not(.current-month)      { color: #999; }
.x-calendar-day.today                    { background-color: #f33; color: white; }
.x-calendar .x-calendar-day.today:hover  { background-color: #f66; }
.x-calendar.invalid .x-calendar-day.focused {
	background-color: var(--x-error-bg-color);
}

.x-calendar-header {
	display: flex;
	align-items: center;     /* vertical align */
}

.x-calendar-sel-day {
	font-size: 300%;
}

.x-calendar-sel-day-suffix {
	flex: 1;                 /* stretch to fill width */
	font-size: 150%;
	padding-left: .1em;
	padding-top: .25em;
	align-self: flex-start;
}

.x-calendar-sel-month.x-input,
.x-calendar-sel-year.x-input {
	border: 0;
}

.x-calendar-sel-month.x-input {
	min-width: 4.5em;        /* limit shrinking */
	margin: .25em;           /* separate from day suffix */
}

.x-input.x-calendar-sel-month .x-listbox {
	width: 100%;
}

.x-input.x-calendar-sel-year {
	width: 6.5em;
}

/* calendar as picker ----------------------------------------------------- */

.x-widget.x-calendar.picker {
	padding: 1.5em;
}
.x-widget.x-calendar.picker .x-calendar-sel-day {
	font-size: 200%;
}
.x-widget.x-calendar.picker .x-calendar-day {
	padding-top: 0em;
	padding-bottom: 0em;
	padding-left : .5em;
	padding-right: .5em;
}

/* menu ------------------------------------------------------------------- */

.x-menu-table,
.x-menu-table:focus-within
{
	/* layouting */
	display: inline-block;     /* required: don't expand to fit parent width */
	position: absolute;        /* required: submenus are positioned manually */
	overflow: visible;         /* required: submenus are outside clipping area */
	border-collapse: collapse; /* required: separators are done with borders */
	background: white;         /* required: submenus overlap their parent */
	padding: .25em 0;

	z-index: 1;

	/* styling */
	font-size: 12px;
	color: #000;
	min-width: 200px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px #666;
}

.x-menu-tr {
	position: relative;        /* required: submenus are anchored to item trs */
}

.x-menu-tr > td {
	padding: .4em;
}

.x-menu-tr > td:first-child {
	padding-left: .9em;
}

.x-menu-separator {
	height: 1em;
}

.x-menu-heading {
	padding-left: 1em;
	font-weight: bold;
	color: #999;
	cursor: default;
	padding-top   : .5em;
	padding-bottom: .5em;
}

.x-menu-separator > hr {
	border: 0;
	border-top: 1px solid #ccc;
}

.x-menu-title-td {
	padding: 0;
	width: 100%;
	padding-left: 0;
	overflow: hidden;
	white-space: nowrap;
}

.x-menu-tr.focused > td {
	cursor: default;
}

/* pagelist --------------------------------------------------------------- */

.x-pagelist {
	display: flex;
	flex-flow: column;
	position: relative;
}

.x-pagelist-header {

	/* layouting */
	display: flex;
	position: relative;

	/* styling */
	border-bottom: 1px solid #ccc;
}

.x-pagelist-item {
	position: relative;
	line-height: 1.25em;
	color: #666;
	cursor: default;
	display: flex;
}

.x-pagelist-text {
	outline: none;
	padding: .25em 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 10em;
}

.x-pagelist-add-button {
	padding: .25em 1em;
	display: flex;
	align-items: center;
}

.x-pagelist-add-button::before {
	font-size: 80%;
}

.x-pagelist-xbutton {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 70%;
	color: #ccc;
	cursor: default;
}

.x-pagelist-xbutton:hover {
	color: red;
}

.x-pagelist-selection-bar {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #66f;
	transition: width .1s;
	transition: left .1s;
}

.x-pagelist-item.selected {
	color: black;
}

.x-pagelist-item:focus {
	outline: none;
}

.x-pagelist-item:hover,
.x-pagelist-item:focus {
	background-color: var(--x-item-hover-bg-color);
}

/* split ------------------------------------------------------------------ */

.x-split {

	/* layouting */
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: stretch;

	height: 100%;  /* width: 100% is covered by flex-grow: 1 */
}
.x-split.horizontal { flex-direction: row; }
.x-split.vertical   { flex-direction: column; }

.x-split.resize {
	cursor: ns-resize;
}
.x-split.horizontal.resize {
	cursor: ew-resize;
}

.x-split-pane {
	overflow: auto;
}

.x-split-pane-auto {
	flex-grow: 1;  /* expand-to-fit container */
}

.x-split.horizontal > .x-split-pane.collapsed {
	min-width: 0 !important;
	width: 0 !important;
}
.x-split.vertical > .x-split-pane.collapsed {
	min-height: 0 !important;
	height: 0 !important;
}

/* sizer */

.x-split-sizer {

	/* layouting */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-width : 6px;
	min-height: 6px;

	/* styling */
	background-color: var(--x-item-bg-only-bg-color);

}
.x-split.horizontal > .x-split-sizer {
	flex-direction: row;
}

.x-split.resize > .x-split-sizer {
	background-color: var(--x-item-bg-only-hover-bg-color);
	transition: background-color .2s;
}

/* grip */

.x-split-sizer::before {
	content: '';
	box-sizing: border-box;
	border: 1.25px #999;
}

.x-split.horizontal > .x-split-sizer::before {
	width: 4px;
	height: 24px;
	border-style: none solid;
}
.x-split.vertical > .x-split-sizer::before {
	width: 24px;
	height: 4px;
	border-style: solid none;
}

/* cssgrid ---------------------------------------------------------------- */

.x-cssgrid {
	position: relative;
	height: 100%;

	display: grid;
	grid-gap: 0px;

	justify-items: center;
	align-items: center;
}

.x-cssgrid.editing {
	outline: 1px dashed #aaa;
	outline-offset: -1px;
	overflow: hidden;
}

.x-cssgrid-line-tip {
	position: absolute;
	border-color: #04a;
	z-index: 3;           /* over items, item overlay, span */
}

.x-cssgrid-line-tip:hover {
	border-color: #28f;
}

.x-cssgrid-line-tip[side=top] {
	cursor: ew-resize;
	transform: scale(1, 2);
}

.x-cssgrid-line-tip[side=left] {
	cursor: ns-resize;
	transform: scale(2, 1);
}

.x-cssgrid-line-label {
	position: absolute;
	z-index: 4;           /* over items, item overlay, tip */
	/* style */
	font-size: 75%;
	color: #333;
	cursor: pointer;
}

.x-cssgrid-line-label[side=top]  { margin: 3px -6px; transform: translate(-100%, 0); }
.x-cssgrid-line-label[side=left] { margin: -3px 5px; transform: translate(0, -100%); }

.x-cssgrid-line-guide {
	position: absolute;
	pointer-events: none;
	border: 0 dashed #aaa;
}

.x-cssgrid-line-guide[side=left] {
	width: 0;
	border-top-width: 1px;
}

.x-cssgrid-line-guide[side=top] {
	height: 0;
	border-left-width: 1px;
	pointer-events: none;
}

.x-cssgrid-item-overlay {
	position: absolute;
	background-color: #00000011;
	z-index: 1;           /* over items */
}

.x-cssgrid-item-overlay.focused {
	background-color: #0000ff11;
}

.x-cssgrid-item-ph {
	/* enable this for debugging: */
	/* border: 1px dashed #aaa; */
}

.x-cssgrid-moving { cursor: move; }

.x-cssgrid-span {
	position: absolute;
	border: 1px dashed #24a;
	z-index: 2;           /* over items, item overlay */
	pointer-events: none;
}

.x-cssgrid-span-handle {
	position: absolute;
	width : 4px;
	height: 4px;
	background-color: #24a;
}

.x-cssgrid-span-handle[side=top   ] { margin-top   : -1px; margin-left  : -2px; left: 50%; }
.x-cssgrid-span-handle[side=left  ] { margin-left  : -1px; margin-top   : -2px; top : 50%; }
.x-cssgrid-span-handle[side=right ] { margin-right : -1px; margin-top   : -2px; top : 50%; right: 0; }
.x-cssgrid-span-handle[side=bottom] { margin-bottom: -1px; margin-left  : -2px; left: 50%; bottom: 0; }

.x-cssgrid-span-move { border-color: #2a4; }
.x-cssgrid-span-move > .x-cssgrid-span-handle { background-color: #2a4; }

/* toaster ---------------------------------------------------------------- */

.x-toaster {
	display: none;  /* don't mess up the layout */
}

.x-notify-toaster {
	position: fixed;
	transition: top .2s;
}

/* dialog ----------------------------------------------------------------- */

.x-dialog,
.x-dialog:focus-within
{
	background-color: #fff;
	border: 1px solid #888;
	border-radius: .5em;
	width: 600px;
	height: 350px;
	margin-bottom: 5%;
	position: relative;
	box-shadow: 2px 2px 10px #00000088;
}

.x-dialog-button-close {
	position: absolute;
	right: 8px;
	top: 0px;
	border-bottom-right-radius: .25em;
	border-bottom-left-radius : .25em;
	border: 1px solid #aaa;
	border-top: 0;
	width: 52px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	-webkit-text-stroke: 1px #999;
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}

.x-dialog-button-close:hover,
.x-dialog-button-close.active
{
	background-color: var(--x-error-bg-color);
	background-image: none;
	border-color: #666;
}

.x-dialog {
	display: flex;
	flex-flow: column;
	padding: 1em 1em;
}

.x-dialog-title {
	color: #333;
	font-size: 200%;
	font-weight: bold;
	margin: .25em 0;
}

.x-dialog-header {
}

.x-dialog-header,
.x-dialog-footer,
.x-dialog-content {
	display: flex;
	padding: 1em 0;
}

.x-dialog-content {
	flex: auto;
}

.x-dialog-footer {
	justify-content: flex-end;
}

/* toolbox ---------------------------------------------------------------- */

.x-toolbox {
	position: fixed;
	display: flex;
	flex-flow: column;
	background: white;
	overflow: auto; /* make resize work */
	resize: both;
	z-index: 1;
}

.x-toolbox, .x-toolbox:focus-within {
	box-shadow: 2px 2px 2px #000000aa;
}

.x-toolbox-titlebar {
	display: flex;
	align-items: baseline;
	font-size: 90%;
	font-weight: bold;
	color: white;
	background: #333;
	cursor: move;
	padding: .25em .5em;
}

.x-toolbox:focus-within > .x-toolbox-titlebar {
	background: #24a;
}

.x-toolbox-title {
	flex: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.x-toolbox-xbutton {
	color: #ccc;
	flex: 0;
	padding: .25em .25em;
	cursor: default;
}

.x-toolbox-xbutton:hover {
	color: white;
}

.x-toolbox-content {
	flex: 1;
	background-color: #f8f8f8;
}

/* x-rowset-widget -------------------------------------------------------- */

.x-loading-overlay {
	padding: .5em;
}

.x-loading-overlay.error {
	background: #00000011;
}

.x-loading-overlay-message {
	padding: 1em 1em;
	background: white;
	box-shadow: 2px 2px 10px #00000044;
}

.x-loading-overlay-message .x-button {
	line-height: 1em;
}

.x-loading-overlay-detail {
	font-family: monospace;
	margin: 1em 0;
}

.x-loading-error-icon {
	margin: 0 .5em;
	color: var(--x-error-bg-color);
}

/* grid ------------------------------------------------------------------- */

.x-grid {
	display: inline-flex;      /* required: don't expand to fit parent width */
	flex-flow: column;
	position: relative;        /* required for `position: absolute` elements */
	margin: .25em;
	overflow: hidden;          /* required: hide header overflow */
	cursor: default;           /* required: don't show caret over text */
	border: 0px solid #ccc;
}

.x-vgrid {
	flex-flow: row;
}

/* grid header & row cell common styles that make them align */

.x-grid-header-cell,
.x-grid-cell {
	white-space: nowrap;       /* required: row height is fixed */

	/* sizing & styling */
	padding: var(--x-input-padding);
	border-right: 1px solid #ddd;
	min-width: 20px;
}

.x-grid-cell {
	//border-right-color: transparent;
}

.x-grid-cell-indent {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 10px;
	width: 0;
	padding: 0 4px;
	height: 100%;
}

.x-grid-cell.focused > .x-grid-cell-indent:hover::before {
	color: #eee;
}

.x-grid-cell-indent:hover::before {
	color: #666;
}

/* grid header */

.x-grid-header {
	position: relative;        /* required: make movable for scrolling horizontally */
	border-width: 0;
	border-color: #999;
	border-style: solid;
	border-bottom-width: 1px;
	height: calc(3.5em + 1px);
}

.x-grid-header.with-filters {
	height: calc(3.5em + 1px + .9em);
}

.x-vgrid > .x-grid-header {
	border-bottom-width: 0;
}

/* grid header cells */

.x-grid-header-cell {           /* default: header column style */
	position: absolute;
}

.x-hgrid > .x-grid-header > .x-grid-header-cell {
	height: 100%;
}

.x-vgrid > .x-grid-header > .x-grid-header-cell {

}

.x-grid-header-cell-table {
	width: 100%;               /* required: expand to fit column width */
	table-layout: fixed;       /* required: don't expand based on content */
}

.x-grid-header-title-td {
	padding: 0;
	overflow: hidden;          /* required: hide title under the sort icon */
	font-weight: bold;
}

.x-grid-header-sort-icon-td {
	padding: 0;
	width: 0;
	vertical-align: baseline;
}

.x-grid-header-sort-icon-td.sorted {
	width: 1.2em;              /* required: make space for it */
}

.x-grid-header-sort-icon-pri {
	padding-left: 2px;
	padding-right: 2px;
	font-size: 85%;
}

/* load/save progress bar */

.x-grid-progress-bar {
	position: absolute;
	top: calc(3.5em - 2px);
	width: 0%;
	height: 2px;
	pointer-events: none;
}

.x-grid.loading > .x-grid-progress-bar {
	background-color: green;
}

.x-grid.loading > .x-grid-header,
.x-grid.loading > .x-grid-cells-view
{
	opacity: .7;
}

/* grid rows */

.x-grid-cells-view {
	overflow: auto;            /* required: show scrollbars as needed */
	position: relative;        /* required: anchor rows div */
}

.x-grid-cells-ct {
	overflow: hidden;          /* required: hide surplus bottom rows */
}

.x-grid-cells {
	position: absolute;        /* required: keep at y=0 while scrolling */
}

/* grid cells */

.x-grid-cell {
	position: absolute;        /* required */
	overflow: hidden;          /* required */
	display: flex;             /* because vertical-align doesn't work with `position: absolute` */
	align-items: center;       /* works as `vertical-align: middle` */
	border-bottom: 0px solid #eee;
}

.x-grid-cell[align=center] { justify-content: center; }
.x-grid-cell[align=right]  { justify-content: flex-end; }

/* grid col moving */

.x-grid.col-moving {
	cursor: grabbing;
}

.x-grid-header-cell.col-moving,
.x-grid-cell.col-moving {
	background-color: #eee;
	opacity: .5;
}

.x-grid.col-moving .x-grid-header-cell:not(.col-moving),
.x-grid.col-moving .x-grid-cell:not(.col-moving),
.x-grid.col-moving .grid-editor:not(.col-moving) {
	transition: top  .1s, left .1s;
}

/* grid col resizing */

/* NOTE: `col-resize` is almost invisible on a light background on Windows 7 */
.x-grid.col-resize {
	cursor: ew-resize;
}
.x-grid:not(.col-resize) .x-grid-header-cell {
	cursor: pointer;           /* required: resizing area is underneath */
}

.x-grid-resize-guides {
	position: absolute;
	top: 0;
}

.x-grid-resize-guide {
	position: absolute;
	width: 0;
	margin-left: -1px;  /* TODO: see why this is needed and remove it */
	border-left: 1px dashed #aaa;
}

/* grid editing */

.x-grid-error {
	position: absolute;
}

.x-widget.grid-editor {

	position: absolute;
	min-width: 0;
	border: 0;
	margin: 0;
	border-radius: 0;

	font-size: inherit;
	font-family: inherit;
	outline: none;
}

.x-widget.grid-editor,
.x-widget.grid-editor.open,            /* more specificity over x-dropdown */
.x-widget.grid-editor:focus-within     /* more specificity over x-input */
{
	box-shadow: inset 2px 2px 6px -2px rgba(0,0,0,0.75);
}

.x-grid-cell.editing {
	visibility: hidden;
}

/* grid as picker */

.x-grid.picker {
	margin: 0;
	min-height: 40px;
	max-height: 300px;
	max-width: 800px;
	resize: both;
}

.x-grid.picker > .x-grid-cells-view {
	overflow-y: scroll;        /* required: show vert-scrollbars always when a picker */
}

/* grid filter dropdowns */

.x-widget.x-grid-filter-dropdown {
	font-size: 85%;
	bottom: 0;
	left: 0;

	position: absolute;
	min-width: 0;
	border: 0;
	margin: 0;
	border-radius: 0;

	color: #36f;
}

.x-dropdown.x-grid-filter-dropdown.open {
	box-shadow: none;
}

.x-grid-filter-dropdown-grid {
	font-size: 90%;
}

/* ------------------------------------------------------------------------ */
/* dark theme                                                               */
/* ------------------------------------------------------------------------ */

.x-dark {

	color: white;
	background-color: #1f1f22;

	--x-inverted-fg-color           : white; /* fg color for inverted backgrounds */

	--x-item-unfocused-bg-color     : #444;
	--x-item-bg-only-bg-color       : #444;
	--x-item-bg-only-hover-bg-color : #555;
	--x-focus-shadow                : 0 0 1px 1px #336;
}

/* focusable item shades -------------------------------------------------- */

.x-dark                   .x-item:hover         { background-color: #18181a; }
.x-dark .x-item         > .x-item:hover         { background-color: #1f1f22; }

.x-dark                   .x-item.focused:hover { background-color: #555; }
.x-dark .x-item.focused > .x-item:hover         { background-color: #666; }
.x-dark .x-item.focused > .x-item.focused       { background-color: #777; }
.x-dark .x-item.focused > .x-item.focused:hover { background-color: #888; }

//.x-dark .x-focusable:focus-within                   .x-item.focused       { background-color: #47a; }
//.x-dark .x-focusable:focus-within                   .x-item.focused:hover { background-color: #58b; }
//.x-dark .x-focusable:focus-within .x-item.focused > .x-item:hover         { background-color: #69c; }
//.x-dark .x-focusable:focus-within .x-item.focused > .x-item.focused       { background-color: #7ad; }
//.x-dark .x-focusable:focus-within .x-item.focused > .x-item.focused:hover { background-color: #8be; }

/* button ----------------------------------------------------------------- */

.x-dark .x-button:not(.primary) {
	color: white;
	border-color: #181818;
	background-color: #333;
	background-image: linear-gradient(-180deg,#555,#333 90%);
}

.x-dark .x-button:not(.primary):hover {
	background-color: #444;
	background-image: linear-gradient(-180deg,#666,#444 90%);
}

.x-dark .x-button.primary:hover {
	border: 1px solid #269f42;
}

/* inputs & dropdown ------------------------------------------------------ */

.x-dark .x-input {
	border-color: #444;
}

.x-dark .x-input:focus-within,
.x-dark .x-input-value:focus,
.x-dark .x-dropdown.open {
	background-color: #080808;
}

.x-dark .x-dropdown.open .x-calendar {
	background-color: #2a303e;
}

.x-dark .x-input.invalid > .x-input-value {
	background-color: var(--x-error-bg-color);
}

/* slider ----------------------------------------------------------------- */

.x-dark .x-slider-thumb {
	border-color: #999;
}

.x-dark .x-slider-fill {
	background-color: #ccc;
}

.x-dark .x-slider:focus > .x-slider-thumb {
	background-color: #fff;
	border-color: #ccc;
}

/* pickers of dropdowns --------------------------------------------------- */

.x-dark .x-dropdown .x-widget.picker {
	border: 1px solid #222;
	box-shadow: 5px 5px 5px #000;
}

/* pagelist --------------------------------------------------------------- */

.x-dark .x-pagelist                  { border-bottom-color: #5a606e; }
.x-dark .x-pagelist-item             { color: #aaa; }
.x-dark .x-pagelist-item:hover,
.x-dark .x-pagelist-item:focus       { background-color: #0004; }
.x-dark .x-pagelist-item.selected    { color: white; }
.x-dark .x-pagelist-selection-bar    { background-color: #fff; }

/* grid ------------------------------------------------------------------- */

.x-dark .x-grid-header-cell  { background-color: #222; border-bottom-color: #666; }
.x-dark .x-grid-cell         { border-bottom-color: #333; }

.x-dark .x-grid.col-resize {
	cursor: col-resize;
}

/* scrollbars ------------------------------------------------------------- */

.x-dark .x-widget ::-webkit-scrollbar-track  { background-color: #222; }
.x-dark .x-widget ::-webkit-scrollbar-thumb  { background-color: #444; border-color: #222; }
.x-dark .x-widget ::-webkit-scrollbar-corner { background-color: #00000000; }
